﻿@using Microsoft.AspNetCore.Identity
@*Changed to <ApplicationUser> and injected user repository*@
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IUserRepository userRepo

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    var user = userRepo.ReadAsync(User.Identity.Name);
    var name = $"{user.Result.FirstName} {user.Result.LastName}"; //Added and updated code to read the user's name
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @name!</a> <!--Output user's name in action link using name variable-->
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
