﻿@model IEnumerable<Penguins_Front_End.Models.ViewModels.UserListVM>

@{
    ViewData["Title"] = "User List";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfRoles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleNames)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfRoles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleNames)
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
        <tr>
            <td>
                @Html.ActionLink("Assign Roles", "AssignRoles")
            </td>
        </tr>
    </tfoot>
</table>
